---
layout: default
---

<section id="summary">
  <div class="row section-header">
    <div class="col-xs-1 circle text-center">
    </div>
    <div class="col-xs-5">
      <h2>Summary</h2>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h3>Looking forward…</h3>
      <p>
        Interested in furthering my experience in back-end/full-stack web
        application development.  Currently sharpening my skills in Ruby, Ruby
        on Rails, RSpec, HTML, CSS, and JavaScript through
        <a href="https://github.com/rringler">personal projects</a>,
        <a href="#online-learning">online learning</a>, and
        <a href="#technical-reading">technical reading</a>.
      </p>
      <h3>Reflecting back…</h3>
      <p>
        Strong experience in technical management of US Department of Defense
        contracts.  Work experience includes management and execution
        of several government contracts (including seven years supporting US
        Navy programs) as well as several successful contract proposals.
      </p>
    </div>
  </div>
</section>



<div class="row">
  <div class="page-content {% unless site.default_asides == empty and site.blog_index_asides == empty %}col-md-9{% else %}col-md-12{% endunless %}">
    <div class="blog-index">
      {% assign index = true %}
      {% for post in paginator.posts %}
      {% assign content = post.content %}
        <article class="post">
          {% include article.html %}
        </article>
      {% endfor %}
    </div>

    <ul class="pager">
      {% if paginator.next_page %}
        <li class="previous"><a href="{{paginator.next_page}}">&larr;&nbsp;Older</a></li>
      {% else %}
        <li class="previous disabled"><a href="#">&larr;&nbsp;Older</a></li>
      {% endif %}
      <li><a href="/blog/archives">Blog Archives</a></li>
      {% if paginator.previous_page %}
        <li class="next"><a href="{{paginator.previous_page}}">Newer&nbsp;&rarr;</a></li>
      {% else %}
        <li class="next disabled"><a href="#">Newer&nbsp;&rarr;</a></li>
      {% endif %}
    </ul>
  </div>

  {% unless site.default_asides == empty and site.blog_index_asides == empty %}
    <aside class="sidebar col-md-3">
      {% if site.blog_index_asides.size %}
        {% include_array blog_index_asides %}
      {% else %}
        {% include_array default_asides %}
      {% endif %}
    </aside>
  {% endunless %}
</div>
