---
layout: post
title: "Generating a New Rails Secret Key"
date: 2014-07-20 14:34:02 -0700
comments: true
categories: [Ruby on Rails, Rake]
---

%p
  Ruby on Rails takes care of most of our site security for us.  About the only
  thing we have to do is be careful with our secret keys.  This means keeping
  them out of public repos.  If you realize you've revealed your secret key,
  Rails still has your back.  There's a very simple rake task to generate a
  new secret key:

{% codeblock lang:bash %}
$ rake secret
d781e04897092465...
{% endcodeblock %}

%p
  and you'll get a new, secure 64-character random key.  Try not to check this
  one into source control.

%p
  H/T to
  %a{href: "http://www.jamesbadger.ca/2012/12/18/generate-new-secret-token/"} James Badger's
  post for spelling this out.
