.treehouse-badge {
  max-width: 200px;
  min-height: 208px;
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  img:hover {
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
  }
  .treehouse-progress {
    color: #fff;
    position: relative;
    top: -120px;
    right: 16px;
  }
  .badge-title {
    position: relative;
    top: -18px;
  }
}

.treehouse-badge-list {
  margin: 0 auto;
  list-style-type: none;

  li {
    float: left;
    margin-right: 15px;
    display: inline;
  }

  li:last-child {
    margin-right: 0;
  }
}